@model VanBrewList.Models.Brewery

@{
    ViewBag.Title = "View";
}

<h2>@Model.Name</h2>

<div>
    <h5>@Model.Address</h5>
    <hr />
    <div class="container">
        <div class="col-md-6">
            <h4>Tasting Room</h4>
            <table class="table table-striped">
                @foreach (var beer in Model.TastingRoom)
                {
                    <tr>
                        <td>@beer.Name</td>
                        <td>@beer.Style</td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-6">
            <h4>Growler Fills</h4>
            <table class="table table-striped">
                @foreach (var beer in Model.Growlers)
                {
                    <tr>
                        <td>@beer.Name</td>
                        <td>@beer.Style</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Breweries", "Index")
</p>
